@model Learner
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Delete Learner</h1>

<h3>Delete Successfully</h3>
<div>
    <div>
        <a asp-action="Index" class="btn btn-primary">Back</a>
        <!-- Add other links or actions here if needed -->
    </div>
</div>